body {
    background-color: #eee
}

.card {

    background-color: #fff;
    border: none;
    border-radius: 13px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    transition: all 0.5s;
    z-index: 1
}
@media only screen and (max-width: 46.1875em) {
    .card{
        width: 350px;
        height: 400px;
    }
    .card:hover::after {
        height: 500px;
        width: 500px;
        border-radius: 10px
    }
}


/* Tablet (>=739 and <1024)*/

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .card{
        width: 500px;
        height: 550px;
    }
    .card:hover::after {
        height: 1000px;
        width:  1000px;
        border-radius: 20px
    }
}


/* PC (>=1024)*/

@media only screen and (min-width: 64em) {
    .card{
        width: 550px;
        height: 600px;
    }
    .card:hover::after {
        height: 900px;
        width: 900px;
        border-radius: 30px
    }
}
.card::after {
    position: absolute;
    content: "";
    height: 120px;
    width: 120px;
    background-color:   #F9e0f9;
    left: -20px;
    top: -20px;
    border-radius: 50%;
    transition: all 2s;
    z-index: 1
}

/* .card:hover::after {
    height: 500px;
    width: 500px;
    border-radius: 10px
} */

.card:hover .content {
    color: #fff !important
}

.content {
    z-index: 11;
    transition: all 1.5s
}

.content input {
    height: 45px;
    border: 2px solid #eee;
    transition: all 0.5s
}

.content input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid red
}

.sub-button {
    height: 45px
}